body{
    animation: 20000ms ease-in-out infinite color-change;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -1px;
}
  
@keyframes color-change{
    0% {background-color: rgba(0, 128, 128, 0.7);}
    20% {background-color: rgba(255, 217, 0, 0.7);}
    40% {background-color: rgba(205, 92, 92, 0.7);}
    60% {background-color: rgba(238, 130, 238, 0.7);}
    80% {background-color: rgba(0, 128, 0, 0.7);}
    100% {background-color: rgba(0, 128, 128, 0.7);}
}

.topbar{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 10;
    backdrop-filter: saturate(100%) blur(2px);
}

.khulta{
    border: 0px !important;
    outline: none !important;
    transform: rotate(360deg);
    transition: transform 0.5s;
}
.khulta:active{
    transform: rotate(180deg);
    transition:  0s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    backdrop-filter: saturate(0%) blur(5px);
    /*backdrop-filter: saturate(180%) blur(5px);*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}
  
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.hero{
    margin-top: 30px;
}

.steped{
    margin-top: 10px;
}

.dabba{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchbar{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    border: 0px;
    padding-left: 35px;
    padding: 4px 4px 4px 30px;
    letter-spacing: 2px;
    outline: none;
    box-shadow: 0 8px 6px -6px black;
    backdrop-filter: saturate(0%) blur(5px);
    margin: 4px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
}
.animale{
    z-index: 10;
    position: fixed;
    width: 400px;
    right: 0;
    top: 56px;
    background-color: #fff;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(0%) blur(10px);
}
@media(max-width: 500px){
    .animale{
        top: 112px;
    }
}
.choicer{
    color: white;
}
.choicer:hover{
    color: whitesmoke;
    text-decoration: none;
}


.iconupdn{-webkit-animation: mover 2s infinite  alternate;
          animation: mover 2s infinite  alternate;}
@-webkit-keyframes mover{0% {transform:translateY(0);}
                        100% {transform:translateY(-20px);}}
@keyframes mover{0% {transform:translateY(0);}
                100% {transform:translateY(-20px);}}
.icondnup{-webkit-animation: mover 3s infinite  alternate;
          animation: mover 3s infinite  alternate;}
@-webkit-keyframes mover{0% {transform:translateY(0);}
                        100% {transform:translateY(-20px);}}
@keyframes mover{0% {transform:translateY(0);}
                100% {transform:translateY(-20px);}}
.iconupup{-webkit-animation: mover 1s infinite  alternate;
          animation: mover 1s infinite  alternate;}
@-webkit-keyframes mover{0% {transform:translateY(0);}
                        100% {transform:translateY(-20px);}}
@keyframes mover{0% {transform:translateY(0);}
                100% {transform:translateY(-20px);}}
.icondndn{-webkit-animation: mover 1.5s infinite  alternate;
          animation: mover 1.5s infinite  alternate;}
@-webkit-keyframes mover{0% {transform:translateY(0);}
                        100% {transform:translateY(-25px);}}
@keyframes mover{0% {transform:translateY(0);}
                100% {transform:translateY(-25px);}}
